<footer class="">
   <div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <h7>&copy; {{ site.title }}</h7>
                <p><i class="fa fa-user fa-fw"></i>Yentl Longueville<br>
                Student Graphic Design</p>            
            </div>
        <div class="col-sm-12 col-lg-4">
                <h7>Contactgegevens</h7>
                <address><i class="fa fa-address-card fa-fw"></i>
                Arteveldehogeschool<br>
                Industrieweg 232<br>
                9030 Gent, Mariakerke
            </address>
        </div>
        <div class="col-sm-12 col-lg-4">
            <h7>Huisstijlgids Sampoorna Yoga vzw</h7>
            <address> <i class="fa fa-address-card fa-fw"></i>
            Sparrenstraat 72<br>
            8310 Assebroek, Brugge
            </address>
        </div>
    </div>
    <button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>
</div>
</footer>