// default-styling

body {
    font-family:'Quicksand', serif;
    font-weight:lighter;
    font-size: 16px;
    line-height: $lineheight-base;
    background-color: $body-bg;
    color: black;

    
}
.download {
    color: rgb(108, 184, 212);
    border: none;
    &:hover{
        color:gray;
        text-decoration: none;
        border-bottom: solid 3px rgb(108, 184, 212);
    }
}
p{

    margin-left: 50px;
    margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Quicksand', serif;
    font-weight: $font-weight-base;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
    color: $mycolor-1;
    margin-bottom: 20px;
}
h2 {
    font-weight: bold;
    font-size: 20px;
    margin: 2rem 0 1rem 2px;
    text-transform: uppercase;
}
h3{
    font-weight: bold;
    font-size: 16px;
    margin: 2rem 0 1rem;
    text-transform: uppercase;

}
h6{
    font-size:16px;
    margin: 2rem 0 1rem;
    line-height: 23px;
  
}

h4{ 
    font-size:16px;
    margin: 2rem 0 1rem;
    line-height: 30px;
    font-weight: bold;
    padding-left: 25px;
    font-size:16px;
    color: $mycolor-2;
    

}


h5{
    font-size:16px;
    line-height: 23px;
    margin-left:-150px;
   
  
}

h7{
    font-size:16px;
    line-height: 23px;
    font-weight: bolder;
  
}


.FloGri{

    width: 105%;
}

.afbeelding{
    width: 150%;
    margin-left: 50px;
}


.afbeeldinglight{
    width: 100%;
    margin-left: 50px;
    
}


.imglogo
{
    margin-left: 60px;


}

.afbeeldingPos{
    width:800px;
  
}

.afbNIET{

width: 500px;
margin-top: -50px;
margin-left: -60px;
}

.nav-item{
    margin-top:45px;
 
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{

    color:rgb(108, 184, 212);
    border-bottom:solid;}


.navbar-light .navbar-nav .nav-link{
    color:black;
}


.achtergrond{

    background-color: rgb(108, 184, 212);
}

a {
    font-family: Quicksand;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(108, 184, 212);
    margin-right: 30px;
    margin-bottom: 100px;
   
    &:hover{
        color: black;
        text-decoration: none;
    }
    &:active{
        background-color: black;
        color: $color-white;
    }
    &:focus{}

}
blockquote {
   
    border-left: 2px solid $mycolor-2;
    margin-left: 50px;
   
}

.table{

    font-size: 13px;
}

// ongeordende lijstjes met een ander symbool of kleur
main ul {
  list-style: none;  
  margin: 0 0 1em;
  padding: 0;
  li {
    padding-left: 25px;
    text-indent: -25px;
    &:before {
        content:'\2022';
        color: $mycolor-5;
        margin-right: 18px;
    }    
  }
}

//geordende lijstjes met een ander symbool of kleur
main ol {
    list-style: none;  
    margin: 0 0 1em;
    padding: 0;
    counter-reset: i 0;
    li {
      padding-left: 25px;
      text-indent: -25px;
      margin-bottom: 0.5rem;
      margin-left: 50px;
      &:before {
        counter-increment: i;
        content: counter(i);    
        padding: 3px 6px;
        margin-right: 5px;
        border-radius: 5px;
        background-color: rgb(108, 184, 212);
        color: $color-white;
        font-family: $myfont-family-title;
        font-weight: $font-weight-bold;
      }    
    }
  }

//forms 
button, a.btn {
    
    &:hover{}
    &:active{}
    &:focus{}
}
input[type=text], textarea {

}

